<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somali Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.webp') }}" alt="Logo" class="logo">
    <h1>Somali Search Engine</h1>
    <form action="/search" method="post">
        <input type="text" name="query" placeholder="Enter search query">
        <button type="submit">Search</button>
    </form>
</body>
</html>
